<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="..//favicon.ico">
    {% block head %}
    {% endblock %}
    <title>ECMS</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/static/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Environment Conditions Monitoring System [ECMS]</a>
        </div>
        {% if user.is_authenticated %}
            <div class="myclass">
                <a id="logout" href="{% url 'logout' %}">Wyloguj</a> {{ user }} <span class="glyphicon glyphicon-user"></span>
            </div>
        {% endif %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class="custom">
    <nav class="navbar navbar-default navbar-fixed-lower" role="navigation">
        <div class="container">
            <div class = "mine">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"></a>
                </div>
            </div>
            <div class="collapse navbar-collapse collapse-buttons">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Strona główna</a></li>
                    <li><a href="{% url 'diagram' %}">Diagram</a></li>
                    <li><a href="{% url 'scope' %}">Wskaźnik</a></li>
                    <li><a href="{% url 'contact' %}">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <!-- Example row of columns -->
    {% block content %}
    {% endblock %}
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="/static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
